<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo2</title>
</head>
<body>

<h1>Demo 2 .</h1>



<h2>页面列表</h2>

<ul>
    <li>
        <a href="{% url 'demo2:funds' %}">funds.html</a>
    </li>
    <li>
        <a href="{% url 'demo2:reactjs' %}">reactjs.html</a>
    </li>
</ul>


{#<h2>{{ question.question_text }}</h2>#}
<h2>抓取网址</h2>

{#{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}#}

<form action="{% url 'demo2:download_html' %}" method="post">
{#Cross Site Request Forgeries#}
{% csrf_token %}
    <input type="text" name="url" value="https://cn.morningstar.com/fundcompany/default.aspx"/>
<input type="submit" value="抓页面" />
</form>


<h2>分析页面</h2>

{% if latest_page_list %}
    <ul>
        {% for page in latest_page_list %}
            <li>{{ page.id }} {{ page.url }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Pages are available.</p>
{% endif %}


<form action="{% url 'demo2:analyze_page' %}" method="post">
    {#Cross Site Request Forgeries#}
    {% csrf_token %}
    <input type="text" name="pageid" />
{#    分析程序选择#}
    {#{% for choice in question.choice_set.all %}#}
    {#    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />#}
    {#    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />#}
    {#{% endfor %}#}
    <input type="submit" value="分析页面" />
</form>

</body>
</html>