<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo2</title>
</head>
<body>

<h1>Demo 2 .</h1>

{#<ul>#}
{#    <li>#}
{#        <a href="{% url 'demo:count_list' %}">count_list.html</a>#}
{#    </li>#}
{#    <li>#}
{#        <a href="{% url 'demo:email' %}">email.html</a>#}
{#    </li>#}
{##}
{#</ul>#}

{% if latest_fundinfo_list %}
    <ul>
    {% for fund in latest_fundinfo_list %}
        <li><a href="/demo2/{{ fund.id }}/">{{ fund.symbol }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No FUNDs are available.</p>
{% endif %}


{#<h2>{{ question.question_text }}</h2>#}
<h2>抓取网址</h2>

{#{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}#}

<form action="{% url 'demo2:download_html' %}" method="post">
{#Cross Site Request Forgeries#}
{% csrf_token %}
    <input type="text" name="url" value="https://cn.morningstar.com/fundcompany/default.aspx"/>
{#{% for choice in question.choice_set.all %}#}
{#    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />#}
{#    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />#}
{#{% endfor %}#}
<input type="submit" value="抓页面" />
</form>

</body>
</html>